<div id="sim_div">
  <h1><%= @simulation.identifier %></h1>
  <h4> <small>Dimensions:</small> <%= @simulation.x_size %>x<%= @simulation.y_size %></h4>
  <h4> <small>Verdict:</small> <%= @simulation.verdict %></h4>

  <table class="table table-bordered">
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody>
      <% @simulation.state.each_with_index do |row, y_index| %>
        <tr>
  	    <% row.each_with_index do |current, x_index| %>        
          	<td class="text-center <%= 'dirty' if @simulation.dirty_points.include?([x_index,y_index]) %>"><%= current %></td>        
          <% end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>