<h1>Listing Simulations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Identifier</th>      
      <th>Verdict</th>
      <th>Size</th>
    </tr>
  </thead>

  <tbody>
    <% @simulations.each do |simulation| %>
      <tr>        
        <td><%= simulation.identifier %></td>        
        <td><strong><%= simulation.verdict %></strong></td>
        <td><%=simulation.x_size%>x<%=simulation.y_size%></td>
        <td><%= link_to 'Show', simulation, :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', simulation, method: :delete, id: simulation.id, data: { confirm: 'Are you sure?', remote: true }, :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Simulation', new_simulation_path, :class => "btn btn-primary" %>
